@media (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    html { overflow-x: hidden; }

    .top {
    height: 649px;
    position: relative;
    overflow-x: hidden;

        &__vector {
            &_5 {
                display: none;
            }

            &_1 {
                position: absolute;
                top: 97px;
                left: 37px;
                height: 35px;
            }

            &_2 {
                position: absolute;
                top: 64px;
                left: 91px;
                height: 21px;
            }

            &_3 {
                position: absolute;
                top: 580px;
                left: 303px;
                height: 41px;
            }
            &_4 {
                position: absolute;
                top: 557px;
                left: 272px;
                height: 18px;
            }


            &_6 {
                display: block;
                position: absolute;
                top: -103px;
                right: -112px;
                
            }
        }
        
        &__title {
            width: 262px;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: center;
            padding-top: 147px;
        }

        &__text {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            padding-top: 24px;
        }

        &__link {
            width: 285px;
            height: 55px;
            font-size: 16px;
            margin-top: 36px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .running-line {
        width: 100%;
        height: 51px;
        gap: 27px;
        overflow-x: hidden;

        &__text {
            font-size: 16px;
        }

        &__img {
            height: 19px;
        }
    }

    .card-box {
        &-vector {
            display: none;
        }
    }

    .games__container {
        display:  none;
        
        &_mini {
            display: block;
        }

        
    }

    .games {
        &__vector {
            display: none;
        }

        &__title {
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: left;
            padding-top: 48px;
        }    
}
    .mini-game {
        &__all-games {
            gap: 24px;
            align-items: center;
            padding-bottom: 10px;
            margin-top: 48px
        }

        &__content {
            height: inherit;
            max-height: 626px;
            width: 343px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-text {
                order: 2;
                padding: 29px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 285px;
            }
        }

        &__img-right {
           order:1; 
           height: 284px;

        
        }
         
        &__title {
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
        }

        &__text {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
            padding-top: 16px;
            padding-bottom: 32px;
        }

        &__link {
            width: 285px;
            height: 55px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
            text-align: center;
               
            
           
        
        }
    }
    .footer {
        height: 100px;

        &__text {
        font-size: 16px;
        }
    }
}
