$color-text:rgb(32, 32, 39);


* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }

  html {
  scroll-behavior: smooth;
}
 

    body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(32, 32, 39);
  }
  
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }

  html { overflow: auto; }

  .top {
    height: 710px;
    background-color: rgb(225, 255, 143);
    position: relative;
    overflow: hidden;

    &__vector {
        &_5 {
            position: absolute;
            top: -334px;
            right: -488px;
            height: 1130px;
        }
         &_1 {
            position: absolute;
            top: 94px;
            left: 63px;
            height: 57px;
        }
         &_2 {
            position: absolute;
            top: 69px;
            left: 156px;
            height: 35px;
        }
         &_3 {
            position: absolute;
            height: 83px;
            right: 344px;;
            top: 568px;
         }
          &_4 {
            position: absolute;
            height: 37px;
           right: 455px;
            top: 538px;
         }
         &_6 {
            display: none;
            height: 238px;
         }
    }
    &__title {
        color: $color-text;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 196px;
    }
    &__text {
        color: $color-text;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 24px;
       
    }
    &__link {
        width: 247px;
        height: 66px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid $color-text;
        border-radius: 60px;
        background: $color-text;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-top: 48px;
        &:hover {
            background: rgb(255, 255, 255);
            color: $color-text;
            border: 1px solid rgb(0, 0, 0);
        }
    }
  }

  .running-line {
        overflow: hidden; 
        width: 100%;
        height: 90px;
        display: flex;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        background: rgb(188, 236, 48);

        &__innner {
            display: flex;
            align-items: center;
            gap: 51px;        
            white-space: nowrap;
            will-change: transform;
            animation: move 10s linear infinite;
        }

       @keyframes move {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
    
        
        &__text {
            color: $color-text;
            font-size: 30px;
            font-weight: 700;
            line-height: 110%;
            letter-spacing: 4%;
            text-align: left;
            text-transform: uppercase;
            white-space: nowrap;
        }
       
        &__img {
            height: 36px;
        }
  }

  .games {
    &__container {
        
        position: relative;
       overflow: hidden;


    }
    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 94px;
    }

    &__text {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 24px;
    }

    &__vector {
         &_1 {
            position: absolute;
            top: 126px;
            right: 45px;
            height: 69px;
        }
        &_2 {
            position: absolute;
            top: 93px;
            right: 124px;
            height: 35px;
        }
         &_3 {
            position: absolute;
            bottom: 65px;
            right: 52px;
            height: 69px;
        }
        &_4 {
            position: absolute;
            bottom: 45px;;
            right: 150px;
            height: 35px;
        }
    }
  }
 
  .card-box {
    padding-top: 72px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    position: relative;
    

     &-vector {
            &_1 {
                position: absolute;
                height: 584.72px;
                top: -215px;
                right: -262px;
                z-index: 1;
            }
            &_2 {
                position: absolute;
                top: 478px;
                left: -91px;
            
            }
             &_3 {
                position: absolute;
                top: 518px;
                left: -73px;
                height: 54.6px;
            
            }
            
        }

    &-1 {
        display: flex;
        flex-direction: column;
        row-gap: 32px;

    }
  }

  .game-card {
    z-index: 5;
    transition: transform 0.3s ease;
    &__content {
       
        height: 473px;
        border-radius: 30px;
        background-color: rgb(255, 255, 255);
        &_big {
            height: 551px;
        }
        &_middle {
            height: 512px;
        }
    }

    &__number {
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        color: $color-text;
        font-size: 16px;
        font-weight: 500;
        line-height: 35px;
        width: 108px;
        height: 36px;
        margin-left: 32px;
        margin-top: 32px;
        text-align: center;
    }

    &__title {
        color: $color-text;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
        margin-left: 32px;
        margin-top: 16px;
    }
    &:hover {
        transform: scale(1.05);
    }
  }

  .mini-game {
    &__all-games {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 72px;
        padding-bottom: 144px;
        }    
    &__content{
        width: 100%;
       
        border-radius: 30px;
        box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
       
            &-text {
                padding: 48px;
                align-items: flex-start;
                width: 600px;
            }
        }

        &__title {
            color: $color-text;
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            letter-spacing: 0px;
            text-align: left;
        }
        
        &__text {
            color: $color-text;
            max-width: 457px;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
            padding-top: 24px;
            padding-bottom: 36px;
        }

        &__link {
            border-radius: 60px;
            background: $color-text;
            width: 247px;
            height: 66px;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
            text-align: center;
            color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:hover {
            background: rgb(255, 255, 255);
            color: $color-text;
            border: 1px solid rgb(0, 0, 0);
        }
        }

        &__img-right {
        height: 500px;
        }
    }
  
    .footer {
        height: 150px;
        background: rgb(189, 237, 53);
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
  
    
        &__text{
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            letter-spacing: 0px;
            text-align: center;
        }
    }


    @import "mobile";
    @import "tablet";